@model IEnumerable<Note>
@{
    ViewData["Title"] = "MyNotes";
    ViewData["Content"] = "";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Notes</h2>
        </div>
        <div class="col-6 text-end">
             <a asp-controller="Note" asp-action="CreateFolder" class="btn btn-primary" id="AddNewFolderBtn">
                <i class="bi bi-folder-plus"></i> &nbsp; Create New Folder
            </a>
            <a asp-controller="Note" asp-action="CreateNote" class="btn btn-primary" id="AddNewFileBtn">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Create New Note
            </a>
        </div>
    </div>

    <table class="table table-bordered table-stribed" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="8%">
                        @if(@obj.Type == "note"){
                            <i class="bi bi-sticky type"></i>
                        }else{
                            <i class="bi bi-folder type"></i>
                        }
                    </td>
                    <td width="20%">
                        @obj.Title
                    </td>
                    <td width="40%">
                        @if (obj.Content.Length > 35)
                        {
                            ViewData["Content"]  = obj.Content.Substring(0, 34) + "...";
                        }
                        else
                        {
                            ViewData["Content"] = obj.Content;
                        }

                       @ViewData["Content"]
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                             @if(@obj.Type == "note"){
                                 <a asp-controller="Note" asp-action="Edit" asp-route-id="@obj.Id"
                                 class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                            }else{
                                 <a asp-controller="Folder" asp-action="Index" asp-route-id="@obj.Id"
                                 class="btn btn-primary mx-2"> <i class="bi bi-stickies"></i> View</a>
                            }
                            <a asp-controller="Note" asp-action="Delete" asp-route-id="@obj.Id" asp-
                            class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
					    </div>
				    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function changeBtnsText(condition) {
    if (condition.matches) { // If media query matches
        document.getElementById("AddNewFolderBtn").innerHTML = '<i class="bi bi-folder-plus"></i>';
        document.getElementById("AddNewFileBtn").innerHTML = '<i class="bi bi-file-earmark-plus">';
        document.getElementById("AddNewFileBtn").style.fontSize = "1.3em";
        document.getElementById("AddNewFolderBtn").style.fontSize = "1.3em";
        document.getElementById("AddNewFolderBtn").style.marginBottom = "15px";
        document.getElementById("AddNewFileBtn").style.marginBottom = "15px";
        document.getElementById("AddNewFolderBtn").style.marginRight = "20px";
    } else {
        document.getElementById("AddNewFileBtn").style.fontSize = "1em";
        document.getElementById("AddNewFolderBtn").style.fontSize = "1em";
        document.getElementById("AddNewFolderBtn").innerHTML = '<i class="bi bi-folder-plus"></i> &nbsp; Create New Folder';
        document.getElementById("AddNewFileBtn").innerHTML = '<i class="bi bi-file-earmark-plus"> &nbsp; Create New Note';
    }

}
    let condition = window.matchMedia("(max-width: 1050px)");
    changeBtnsText(condition);
    condition.addListener(changeBtnsText);
</script>