@model List<FoldersNote>
@{
    ViewData["Title"] = "Folder's Notes";
    ViewData["Content"] = "";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">My Notes</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Folder" asp-action="CreateNote" asp-route-id="@ViewBag.Message" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Create New Note
            </a>
        </div>
    </div>

    <table class="table table-bordered table-stribed" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="8%">
                        <i class="bi bi-sticky type"></i>  
                    </td>
                    <td width="20%">
                        @obj.Title
                    </td>
                    <td width="40%">
                        @if (obj.Content.Length > 35)
                        {
                            ViewData["Content"]  = obj.Content.Substring(0, 34) + "...";
                        }
                        else
                        {
                            ViewData["Content"] = obj.Content;
                        }

                       @ViewData["Content"]
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                             <a asp-controller="Note" asp-action="Edit" asp-route-id="@obj.Id"
                                 class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit
                             </a>
                            <a asp-controller="Note" asp-action="Delete" asp-route-id="@obj.Id"
                                class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete
                            </a>
					    </div>
				    </td>
                </tr>
            }
        </tbody>
    </table>
</div>