@model List<FoldersNote>
@{
    ViewData["Title"] = "Folder's Notes";
    ViewData["Content"] = "";
    ViewData["TitleContent"] = "";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"><i class="bi bi-folder"></i> @ViewBag.FolderName</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Folder" asp-action="CreateNote" asp-route-id="@ViewBag.Message" id="AddNewFileBtn" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus"></i> &nbsp; Create New Note
            </a>
        </div>
    </div>

    <table class="table table-bordered table-stribed" style="width:100%">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Title
                </th>
                <th>
                    Content
                </th>
                <th>
                    Last Update
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="8%">
                        <i class="bi bi-sticky type"></i>  
                    </td>
                    <td width="15%">
                        @if (obj.Title.Length > 25)
                        {
                            ViewData["TitleContent"]  = obj.Title.Substring(0, 22) + "...";
                        }
                        else
                        {
                            ViewData["TitleContent"] = obj.Title;
                        }
                        @ViewData["TitleContent"]
                    </td>
                    <td width="32%">
                        @if (obj.Content.Length > 35)
                        {
                            ViewData["Content"]  = obj.Content.Substring(0, 34) + "...";
                        }
                        else
                        {
                            ViewData["Content"] = obj.Content;
                        }

                       @ViewData["Content"]
                    </td>
                    <td>
                        @{
                            ViewData["Date"] = obj.CreatedDateTime.Day + "-" + obj.CreatedDateTime.Month + "-" + obj.CreatedDateTime.Year;
                        }
                        @ViewData["Date"]
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                             <a asp-controller="Folder" asp-action="EditNote" asp-route-id="@obj.Id"
                                 class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit
                             </a>
                            <a asp-controller="Folder" asp-action="DeleteNote" asp-route-id="@obj.Id"
                                class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete
                            </a>
					    </div>
				    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script src="~/js/folders_main.js" asp-append-version="true"></script>